@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#__nuxt,
#__layout {
    height: 100%;
}

body,
html {
    overflow-x: hidden;
    position: relative;
}

body {
    background-color: #090509;
    color: white;
}

.main-button {
    filter: drop-shadow(0 0 3px #3813cf);
    background-color: #0C002D;
    transition: filter 150ms ease-in;
}

.main-button:hover {
    filter: drop-shadow(0 0 8px #394eed);
}

.fadeInFromLeft,
.fadeInFromRight {
    transition: all 350ms ease-in-out;
    opacity: 0;
}

.fadeInFromLeft {
    transform: translateX(-130px);
}

.fadeInFromRight {
    transform: translateX(130px);
}

.fadeInFromLeft.visible,
.fadeInFromRight.visible {
    opacity: 1 !important;
    transform: translateX(0);
}